---
import MainLayout from "../layouts/MainLayout.astro";
import Marquee from "../components/Marquee.astro";

import * as bioDetails from "../content/bio/bio-details.md";
---

<MainLayout title="MDL - Bio" pageName="Bio" heroVisible={false}>
  <Marquee sectionName="BIO" />
  <article class="content-section">
    <img src={bioDetails.frontmatter.bioImage1} alt="" />
    <h3>{bioDetails.frontmatter.bioHeader1}</h3>
    <p>{bioDetails.frontmatter.bioBody1}</p>
    <img src={bioDetails.frontmatter.bioImage2} alt="" />
    <h3>{bioDetails.frontmatter.bioHeader2}</h3>
    <p>{bioDetails.frontmatter.bioBody2}</p>
    <img src={bioDetails.frontmatter.bioImage3} alt="" />
    <br />
    <br />
    <strong>
      <a class="see-more" href="/">Go Back</a>
    </strong>
  </article>
</MainLayout>

<style>
  img {
    max-width: 500px;
  }

  h3 {
    font-size: var(--font-size-400);
  }

  @media (max-width: 700px) {
    img {
      max-width: 300px;
    }
  }
</style>
