---
import MainLayout from "../layouts/MainLayout.astro";
import Marquee from "../components/Marquee.astro";
import ListItem from "../components/ListItem.astro";
import clapper from "../images/clapper2.gif";

const filmList = await Astro.glob("../content/film/*.md");
---

<MainLayout title="MDL - Films" pageName="MDL Films" heroVisible={false}>
  <Marquee sectionName="Film" />
  <article class="content-section">
    <div class="section-image">
      <img
        src={clapper}
        alt="GIF of a movie camera switching between pointing at you and pointing away to the left"
      />
    </div>
    <ul class="content-list">
      {
        filmList.reverse().map((item) => (
          <>
            <ListItem
              title={item.frontmatter.title}
              link={item.frontmatter.link}
              year={item.frontmatter.year}
            />
          </>
        ))
      }
    </ul>
    <strong>
      <a class="see-more" href="/#film">Go Back</a>
    </strong>
  </article>
</MainLayout>
