---
import ContentBox from "../components/ContentBox.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import heart from "../images/heart4.gif";
import headShot from "../images/MDLsmall.jpeg";
import "../styles/global.css";

export interface Props {
  title?: string;
  heroVisible?: boolean;
  pageName?: string;
}

const {
  title = "MATTHEW DANGER LIPPMAN: CULT ICON. AMERICAN HERO.",
  heroVisible = true,
  pageName = "Official Website of Matthew Danger Lippman",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta
      name="description"
      content="Welcome to the official website of Matthew Danger Lippman, musician, actor, & writer living in Brooklyn. Go Bills!"
    />
    <meta
      property="og:image"
      content="https://amersinger21.github.io/danger-test/images/MDLsmall.jpeg"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="htps://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,600&family=Poppins:wght@400&display=swap"
      rel="stylesheet"
    />
    <script
      defer
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
  </head>
  <body>
    <div class="main-wrapper">
      <Header />
      <Nav />
      <ContentBox>
        {
          heroVisible && (
            <>
              <article class="hero">
                <h2 id="official"> {pageName} </h2>
                <div class="hero-images-wrapper">
                  <img src={heart} alt="GIF of a red heart spinning" />
                  <img src={headShot} alt="MDL Headshot" />
                  <img src={heart} alt="GIF of a red heart spinning" />
                </div>
              </article>
              <p> {title} </p>
            </>
          )
        }

        <slot />
      </ContentBox>
      <Footer />
    </div>
  </body>
</html>

<style>
  body {
    background-image: url(../images/smokeybackground.jpg);
    overflow-x: hidden;
    text-align: center;
    padding-inline: var(--padding-sml);
  }

  .main-wrapper {
    width: clamp(20rem, 99%, 95rem);
    margin-inline: auto;
  }

  .hero-images-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-sml);
    column-gap: 0.125em;
    margin: 0.5em;
  }

  h2,
  .hero p {
    font-family: var(--header-font);
    line-height: 1.5;
  }

  h2::before,
  h2::after,
  p::before,
  p::after {
    content: "~";
    display: inline-block;
  }

  Footer {
    position: absolute;
    bottom: 0;
  }
</style>
